<!DOCTYPE HTML>
<html>
<head>
<title>Demo Express App</title>
<link rel= "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/index.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
  <div class="landing-container">
<h3>YelpCamp!</h3>
<a class="btn btn-lg btn-primary" href="/campgrounds">Go To Our Camp Grounds</a>
</div>
<ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
<% include partials/footer %>
